@import "tailwindcss";

:root {
  --background: ##fff;
  --foreground: var(--color-gray-700);
}

@theme inline {
  --font-weight-medium: 600;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-heading);
  --font-featured: var(--font-featured);
  --font-base: var(--font-base);
  --font-mono: var(--font-roboto-mono);
  --primary-00: #e2e8ff;
  --primary-color: #273469;
  --primary-color-weakest: #7b89c9;
  --primary-color-weaker: #4154ac;
  --primary-color-weak: #303f85;
  --primary-color-strong: #151a33;
  --secondary-color: #fafaff;
  --secondary-color-weak: #fbfbff;
  --secondary-color-medium: #f5f5fc;
  --secondary-color-strong: #f1f1fc;
  --header-height: 98px;
  --header-height-compact: 64px;
  --header-text-color: #fff;
  --header-bg-color: var(--primary-color-weak);
  --hero-bg-color: var(--primary-color);
  --hero-text-color: var(--secondary-color);
  --hero-height: 300px;
  --projects-bg-color: var(--secondary-color-strong);
  --max-width-text: 65ch;
  --max-width-text-sm: 45ch;
  --heading-color: var(--primary-color-strong);
  --padding-x-base: theme("spacing.7");
  --padding-y-base: theme("spacing.14");
  --padding-base: var(--padding-y-base) var(--padding-x-base);
  --padding-x-base-md: theme("spacing.20");
  --padding-y-base-md: theme("spacing.20");
  --padding-base-md: var(--padding-y-base-md) var(--padding-x-base-md);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /*font-family: Arial, Helvetica, sans-serif;*/
}

@layer base {
  body {
    @apply text-xl;
  }
  img {
    @apply max-w-none;
    @apply w-full;
  }
}

@layer utilities {
  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 75% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    background-size: 150% 150%;
    animation: gradient-move 4s ease infinite;
  }

  .home .header {
    @apply absolute w-full inset-0 bg-black/40;
  }
}
